.item{
    background: rgb(4, 65, 22);
    border-radius: 2px 50%;
    height: 100px;
    margin: 250px auto;
    transform-origin: right bottom;
    transition: transform 5s;
    width: 100px;
}

.continer{
    transition: transform 5s;
}

.item:hover {
    transform: rotate(360deg);
    cursor: pointer;
}

.continer:hover{
    transform: scale(2, 2);
}

